.bg_header {
    background-color: #082029;
}

.header_main_content_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 16px;
}

.header_main_content_wrapper img {
    height: 80px;
}

.header_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.main_website {
    background-color: #05171E;
    display: flex;
    justify-content: center;
    flex: 1;
    padding-block: 16px;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding-inline: 16px;
    gap: 32px;
}

.footer_main_website {
    background-color: #082029;
    min-height: 140px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrapper{
    position: relative;
}

.searchInput{
    padding: 8px;
}

.noticeInputPokemon{
    position: absolute;
    margin-top: 2px;
    font-size: 0.8rem;
    color: red;;
}

.pokemon_card {
    border-radius: 12px;
    padding: 32px;
    color: white;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.pokemon_card:hover {
    transform: scale(1.05);
}

.pokemon_card img {
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
}

.pokemon_style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    font-size: 24px;
}

.type-icon {
    width: 30px;
    height: 30px;
    margin: 2px;
}