@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

h1 {
    color: white;
    font-size: 48px;
    margin-left: 32px;
    text-align: center;
}

h2 {
    text-transform: capitalize;
}

h3{
    text-transform: capitalize;
    font-size: 18px;
}