@media (max-width:580px) {
    .header_main_content_wrapper img {
        height: 56px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 16px;
    }

    .tabsContent {
        min-width: 425px;
    }

    .evo-arrow {
        font-size: 16px;
        margin: 0;
    }
}

@media (max-width:490px) {
    .evo-container {
        flex-direction: column;
        justify-content: unset;
    }

    .evo-arrow {
        transform: rotate(90deg);
        margin: 8px 0;
    }

    .header_main_content_wrapper {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .searchInput {
        padding: 2px;
    }

    .pictureDialogclass_img {
        width: 125px;
    }

    .evo_Img{
        width: 75px;
    }

    .leftRightButton {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    .closeButton {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    .tabsContent {
        min-width: 250px;
    }
    .min_height_250{
        min-height: 125px;
    }
}